@model ProyAvanzWeb.Tarea2.Models.Edificio

@{
    ViewData["Title"] = "Eliminar edificio";
}
<div class="container">
<h1 class="mb-3 p-4 bg-info text-white rounded text-center">@ViewData["Title"]</h1>
</div>
<h3>¿Está seguro de eliminar el registro?</h3>
<div>
    <h4>Edificio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEdificio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEdificio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProvincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProvincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCanton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCanton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDistrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDistrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreTipoPropiedad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreTipoPropiedad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.Estado) {
                    <p>Activo</p>
                    } else {
                    <p>Inactivo</p>
                    }
            }
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> <br />
        <a asp-action="Index">Regresar al listado</a>
    </form>
</div>
