@model System.Data.DataTable

@{
    ViewData["Title"] = "Listado de edificios";
}

<div class="container">
<h1 class="mb-3 p-4 bg-info text-white rounded text-center">@ViewData["Title"]</h1>
</div>

<table class="table table-bordered">
    <thead class="bg-info">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Capacidad
            </th>
            <th>
                Fecha de compra
            </th>
            <th>
                Provincia
            </th>
            <th>
                Cantón
            </th>
            <th>
                Distrito
            </th>
            <th>
                Tipo de propiedad
            </th>
            <th>
                Fecha fin de contrato
            </th>
            <th>
                Estado
            </th>
            <th>
                <a asp-action="Create">Agregar</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>
                    @Model.Rows[i]["NombreEdificio"]
                </td>
                <td>
                    @Model.Rows[i]["Capacidad"]
                </td>
                <td>
                     @Convert.ToDateTime(@Model.Rows[i]["FechaCompra"]).ToShortDateString()
                    
                </td>
                <td>
                    @Model.Rows[i]["NombreProvincia"]
                </td>
                <td>
                    @Model.Rows[i]["NombreCanton"]
                </td>
                <td>
                    @Model.Rows[i]["NombreDistrito"]
                </td>
                <td>
                    @Model.Rows[i]["NombreTipoPropiedad"]
                </td>
                <td>
                    @Convert.ToDateTime(@Model.Rows[i]["FechaFinalContrato"]).ToShortDateString()
                </td>
                <td>
                    @{
                        if ((bool)@Model.Rows[i]["Estado"]) {
                                        <p>Activo</p>
                        } else {
                                        <p>Inactivo</p>
                        }
                     }
                    
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Rows[i]["Id"]">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Rows[i]["Id"]">Eliminar</a>
                </td>
            </tr>
        }

    </tbody>
</table>
