@model System.Data.DataTable

@{
    ViewData["Title"] = "Listado de servicios por edificio";
}

<div class="container">
<h1 class="mb-3 p-4 bg-info text-white rounded text-center">@ViewData["Title"]</h1>
</div>

<table class="table table-bordered">
    <thead class="bg-info">
        <tr>
            <th>
                Edificio
            </th>
            <th>
                Servicio
            </th>
            <th>
                Fecha de corte
            </th>
            <th>
                Consumo
            </th>
            <th>
                <a asp-action="Create">Agregar</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>
                    @Model.Rows[i]["NombreEdificio"]
                </td>
                <td>
                    @Model.Rows[i]["NombreServicio"]
                </td>
                <td>
                     @Convert.ToDateTime(@Model.Rows[i]["FechaCorte"]).ToShortDateString()
                </td>
                <td>
                    @Model.Rows[i]["Consumo"]
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Rows[i]["Id"]">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Rows[i]["Id"]">Eliminar</a>
                </td>
            </tr>
        }

    </tbody>
</table>
